out
node_modules
client/server
.vscode-test
server/coverage
server/README.md
dist
dts-lsp-types/server
tsconfig.types.tsbuildinfo
devicetree-language-server-types*
devicetree-language-server-vscode-types*