.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
server/coverage/**
.eslintignore
jest.config.js
client
server
scripts
bindings-schema.yaml