.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
server/coverage/**
.eslintignore
jest.config.js
client
!client/dist
server
!server/dist
scripts
bindings-schema.yaml
dts-lsp-types
vscode-dts-lsp-types