# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Build and Test

on:
    push:
        branches: ['main']
    pull_request:
        branches: '**'

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js '20.x'
              uses: actions/setup-node@v4
              with:
                  node-version: '20.x'
                  cache: 'npm'
            - run: npm ci
            - run: npm --prefix server ci
            - run: npm --prefix client ci
            - run: npm install -g @vscode/vsce
            - run: npm run vsce:package
            - run: npm run --prefix server test:coverage
            - run: cd server && npm pack
            - name: Archive production artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: npm module
                  path: |
                      server/*.tgz
            - name: Archive code coverage results
              uses: actions/upload-artifact@v4
              with:
                  name: code-coverage-report
                  path: server/coverage/coverage-final.json
            - name: VSCode Package
              uses: actions/upload-artifact@v4
              with:
                  name: VSCode Package
                  path: dts-lsp-*.vsix
