# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Release to VSCode Marketplace

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js '20.x'
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"
      - run: npm ci
      - run: npm --prefix server ci
      - run: npm --prefix client ci
      - uses: lannonbr/vsce-action@4.0.0
        with:
          args: "publish -p $VS_MARKETPLACE_TOKEN"
        env:
          VSCE_TOKEN: ${{ secrets.VS_MARKETPLACE_TOKEN }}
