# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Release to Open VSIX

on:
    release:
        types: [published]
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js '20.x'
              uses: actions/setup-node@v4
              with:
                  node-version: '20.x'
                  cache: 'npm'
            - name: Install tools
              run: |
                  npm install -g @vscode/vsce@3.4.2 --ignore-scripts --no-audit --no-fund
                  npm install -g ovsx@0.10.5 --ignore-scripts --no-audit --no-fund
            - run: npm ci
            - run: npm --prefix server ci
            - run: npm --prefix client ci
            - run: npm vsce:package
            - name: Publish to Open VSX Registry
              run: |
                  for package in $(ls *.vsix); do
                    echo Package: ${package}
                    npm install -g ovsx@0.10.5 --ignore-scripts --no-audit --no-fund
                  done
              with:
                  pat: ${{ secrets.OPEN_VSX_TOKEN }}
